  </div>
  {{#quotation}}
    <div style="padding-top: 2em; padding-bottom: 1em; text-align: center; color: #CCCCCC; font-size: small;">"{{quotation}}"<br/>- {{quotationAuthor}}</div>
  {{/quotation}}
  {{#logoFooter}}
      {{> _logo }}
  {{/logoFooter}}
</body>
</html>
