#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# for more syntax help and usage example
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

be/src/agent/be_exec_version_manager.cpp @BiteTheDDDDt @zclllyybb
fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java @dataroaring @CalvinKirs @morningman
**/pom.xml @CalvinKirs @morningman
fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java @dataroaring @morningman @yiguolei @xiaokang
fe/fe-core/src/main/java/org/apache/doris/fs @CalvinKirs
fe/fe-core/src/main/java/org/apache/doris/fsv2 @CalvinKirs
be/src/vec/functions @zclllyybb
be/**/CMakeLists.txt @zclllyybb @BiteTheDDDDt
be/src/olap/rowset/segment_v2/variant @eldenmoon @csun5285
be/src/storage/index/inverted/ @airborne12
be/src/exprs/function/function_search.h @airborne12
be/src/exprs/function/function_search.cpp @airborne12
be/src/exprs/function/match.cpp @airborne12
be/src/exprs/function/match.h @airborne12
be/src/exprs/vsearch.h @airborne12
be/src/exprs/vsearch.cpp @airborne12
.claude/ @zclllyybb
AGENTS.md @zclllyybb

be/src/cloud                                                 @liaoxin01 @luwei16 @gavinchou
be/src/io                                                    @liaoxin01 @gavinchou @morningman @Gabriel39
be/src/io/cache                                              @liaoxin01 @gavinchou @morningman @Gabriel39
be/src/io/fs                                                 @liaoxin01 @gavinchou @morningman @Gabriel39
be/src/io/tools                                              @liaoxin01 @gavinchou
be/src/load                                                  @liaoxin01 @gavinchou
be/src/load/channel                                          @liaoxin01 @gavinchou
be/src/load/delta_writer                                     @liaoxin01 @gavinchou
be/src/load/group_commit                                     @liaoxin01 @gavinchou
be/src/load/memtable                                         @liaoxin01 @gavinchou
be/src/load/routine_load                                     @liaoxin01 @gavinchou
be/src/load/stream_load                                      @liaoxin01 @gavinchou
be/src/storage                                               @gavinchou
be/src/storage/olap_common.h                                 @gavinchou @yiguolei
be/src/storage/cache                                         @liaoxin01 @gavinchou
be/src/storage/compaction                                    @luwei16 @gavinchou
be/src/storage/delete                                        @luwei16 @gavinchou
be/src/storage/index                                         @airborne12
be/src/storage/iterator                                      @yiguolei @gavinchou
be/src/storage/predicate                                     @yiguolei @gavinchou
be/src/storage/rowset                                        @gavinchou
be/src/storage/schema_change                                 @luwei16 @gavinchou
be/src/storage/segment                                       @yiguolei @liaoxin01 @gavinchou @eldenmoon @csun5285 @airborne12
be/src/storage/snapshot                                      @deardeng @luwei16 @gavinchou
be/src/storage/tablet                                        @gavinchou
be/src/storage/task                                          @deardeng @gavinchou
be/src/storage/txn                                           @liaoxin01 @gavinchou
be/test/cloud                                                @luwei16 @liaoxin01 @gavinchou
be/test/io                                                   @liaoxin01 @gavinchou @morningman @Gabriel39
be/test/io/cache                                             @liaoxin01 @gavinchou @morningman @Gabriel39
be/test/io/client                                            @gavinchou
be/test/io/fs                                                @luwei16 @liaoxin01 @gavinchou @morningman @Gabriel39
be/test/load                                                 @liaoxin01 @gavinchou
be/test/load/channel                                         @liaoxin01 @gavinchou
be/test/load/delta_writer                                    @liaoxin01 @gavinchou
be/test/load/memtable                                        @liaoxin01 @gavinchou
be/test/olap                                                 @gavinchou
be/test/olap/rowset                                          @gavinchou
be/test/storage                                              @gavinchou
be/test/storage/cache                                        @liaoxin01 @gavinchou
be/test/storage/compaction                                   @luwei16 @gavinchou
be/test/storage/delete                                       @gavinchou
be/test/storage/index                                        @airborne12
be/test/storage/iterator                                     @yiguolei @gavinchou
be/test/storage/predicate                                    @yiguolei @gavinchou
be/test/storage/rowset                                       @gavinchou
be/test/storage/schema_change                                @luwei16 @gavinchou
be/test/storage/segment                                      @yiguolei @gavinchou @eldenmoon @csun5285 @airborne12
be/test/storage/snapshot                                     @deardeng @luwei16 @gavinchou
be/test/storage/tablet                                       @gavinchou
be/test/storage/txn                                          @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/alter              @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/backup             @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/binlog             @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/clone              @deardeng @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud              @liaoxin01 @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/alter        @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/backup       @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/catalog      @morningman @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/common       @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/datasource   @morningman @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/load         @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/master       @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/persist      @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/qe           @morrySnow @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/rpc          @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/snapshot     @luwei16 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/stage        @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/storage      @luwei16 @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/system       @deardeng @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cloud/transaction  @mymeiyi @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/cooldown           @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/fs                 @calvinkirs @morningman @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/ha                 @mymeiyi @gavinchou
fe/fe-core/src/main/java/org/apache/doris/journal            @mymeiyi @gavinchou
fe/fe-core/src/main/java/org/apache/doris/load               @liaoxin01 @gavinchou
fe/fe-core/src/main/java/org/apache/doris/master             @mymeiyi @deardeng @gavinchou
fe/fe-core/src/main/java/org/apache/doris/mtmv               @morrySnow @seawinde
fe/fe-core/src/main/java/org/apache/doris/nereids            @morrySnow @924060929 @englefly @starocean999
fe/fe-core/src/main/java/org/apache/doris/persist            @mymeiyi @gavinchou
fe/fe-core/src/main/java/org/apache/doris/persist/gson       @mymeiyi @gavinchou
fe/fe-core/src/main/java/org/apache/doris/persist/meta       @mymeiyi @gavinchou
fe/fe-core/src/test/java/org/apache/doris/alter              @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/backup             @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/binlog             @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/clone              @deardeng @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud              @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/backup       @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/cache        @liaoxin01 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/catalog      @morningman @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/common       @liaoxin01 @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/load         @liaoxin01 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/master       @deardeng @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/rpc          @luwei16 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/stage        @liaoxin01 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/storage      @liaoxin01 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/system       @deardeng @gavinchou
fe/fe-core/src/test/java/org/apache/doris/cloud/transaction  @liaoxin01 @gavinchou
fe/fe-core/src/test/java/org/apache/doris/fs                 @calvinkirs @morningman @gavinchou @Gabriel39
fe/fe-core/src/test/java/org/apache/doris/journal            @mymeiyi @gavinchou
fe/fe-core/src/test/java/org/apache/doris/load               @liaoxin01 @gavinchou
fe/fe-filesystem                                             @calvinkirs @morningman @gavinchou
fe/fe-sql-parser/src/main/antlr4                             @morrySnow @starocean999 @924060929 @englefly
cloud                                                        @gavinchou
cloud/cmake                                                  @liaoxin01 @luwei16 @gavinchou
cloud/conf                                                   @liaoxin01 @luwei16 @gavinchou
cloud/script                                                 @gavinchou @luwei16
cloud/src                                                    @gavinchou
cloud/src/common                                             @liaoxin01 @luwei16 @gavinchou
cloud/src/gen-cpp                                            @liaoxin01 @luwei16 @gavinchou
cloud/src/meta-service                                       @liaoxin01 @luwei16 @gavinchou
cloud/src/meta-store                                         @luwei16 @gavinchou
cloud/src/rate-limiter                                       @luwei16 @gavinchou
cloud/src/recycler                                           @liaoxin01 @gavinchou
cloud/src/resource-manager                                   @deardeng @gavinchou
cloud/src/snapshot                                           @luwei16 @gavinchou
cloud/test                                                   @liaoxin01 @luwei16 @gavinchou
gensrc/proto/cloud.proto                                     @luwei16 @gavinchou
gensrc/proto/file_cache.proto                                @liaoxin01 @gavinchou
gensrc/proto/olap_file.proto                                 @yiguolei @liaoxin01 @gavinchou
gensrc/proto/segment_v2.proto                                @yiguolei @liaoxin01 @gavinchou @eldenmoon @csun5285 @airborne12
