---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  -*,
  bugprone-redundant-branch-condition,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  misc-redundant-expression,
  misc-unused-*,
  -misc-unused-parameters,
  readability-*,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  portability-simd-intrinsics,
  performance-type-promotion-in-math-fn,
  performance-faster-string-find,
  performance-inefficient-algorithm,
  performance-move-const-arg
WarningsAsErrors: '*'
