---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  -*,
  modernize-use-override,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nullptr,
  modernize-use-bool-literals,
  modernize-use-using,
  readability-make-member-function-const,
  readability-non-const-parameter,
  readability-static-accessed-through-instance,
  readability-redundant-smartptr-get,
  readability-redundant-member-init,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-braces-around-statements,
  portability-simd-intrinsics,
  performance-type-promotion-in-math-fn,
  performance-faster-string-find,
  performance-inefficient-algorithm,
  performance-move-const-arg
WarningsAsErrors: '*'
