---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  -*,
  bugprone-redundant-branch-condition,
  modernize-use-override,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-bool-literals,
  modernize-use-using,
  misc-redundant-expression,
  misc-unused-*,
  -misc-unused-parameters,
  readability-make-member-function-const,
  readability-non-const-parameter,
  readability-static-accessed-through-instance,
  readability-redundant-*,
  readability-braces-around-statements,
  portability-simd-intrinsics,
  performance-type-promotion-in-math-fn,
  performance-faster-string-find,
  performance-inefficient-algorithm,
  performance-move-const-arg
WarningsAsErrors: '*'
