[submodule ".github/actions/label-when-approved-action"]
	path = .github/actions/label-when-approved-action
        url = https://coding.jd.com/bpm/label-when-approved-action.git
[submodule ".github/actions/get-workflow-origin"]
	path = .github/actions/get-workflow-origin
        url = https://coding.jd.com/bpm/get-workflow-origin.git
[submodule ".github/actions/paths-filter"]
	path = .github/actions/paths-filter
        url = https://coding.jd.com/bpm/paths-filter.git  
[submodule ".github/actions/action-pr-title"]
	path = .github/actions/action-pr-title
        url = https://coding.jd.com/bpm/action-pr-title.git
[submodule ".github/actions/ccache-action"]
	path = .github/actions/ccache-action
        url = https://coding.jd.com/bpm/ccache-action.git
[submodule "contrib/clucene"]
	path = contrib/clucene
	url = https://coding.jd.com/bpm/doris-thirdparty.git
	branch = clucene
[submodule "contrib/apache-orc"]
	path = contrib/apache-orc
	url = https://coding.jd.com/bpm/doris-thirdparty.git
	branch = orc
[submodule "doris-faiss"]
	path = contrib/faiss
	url = https://coding.jd.com/bpm/doris-thirdparty.git
	branch = faiss
[submodule "doris-openblas"]
	path = contrib/openblas
	url = https://coding.jd.com/bpm/doris-thirdparty.git
	branch = openblas
