[submodule ".github/actions/label-when-approved-action"]
	path = .github/actions/label-when-approved-action
	url = https://github.com/TobKed/label-when-approved-action
[submodule ".github/actions/get-workflow-origin"]
	path = .github/actions/get-workflow-origin
	url = https://github.com/potiuk/get-workflow-origin.git
[submodule ".github/actions/clang-format-lint-action"]
	path = .github/actions/clang-format-lint-action
	url = https://github.com/DoozyX/clang-format-lint-action.git
[submodule ".github/actions/setup-maven"]
	path = .github/actions/setup-maven
	url = https://github.com/stCarolas/setup-maven.git
[submodule ".github/actions/paths-filter"]
	path = .github/actions/paths-filter
	url = https://github.com/dorny/paths-filter
[submodule ".github/actions/action-pr-title"]
	path = .github/actions/action-pr-title
	url = https://github.com/deepakputhraya/action-pr-title.git
[submodule ".github/actions/ccache-action"]
	path = .github/actions/ccache-action
	url = https://github.com/hendrikmuhs/ccache-action
[submodule ".github/actions/action-sh-checker"]
	path = .github/actions/action-sh-checker
	url = https://github.com/sakul1234/action-sh-checker
[submodule ".github/actions/clang-tidy-review"]
	path = .github/actions/clang-tidy-review
	url = https://github.com/ZedThree/clang-tidy-review.git
[submodule "be/src/apache-orc"]
	path = be/src/apache-orc
	url = https://github.com/apache/doris-thirdparty.git
	branch = orc
[submodule "be/src/clucene"]
	path = be/src/clucene
	url = https://github.com/apache/doris-thirdparty.git
	branch = clucene
