[submodule ".github/actions/label-when-approved-action"]
	path = .github/actions/label-when-approved-action
	url = https://github.com/TobKed/label-when-approved-action
[submodule ".github/actions/get-workflow-origin"]
	path = .github/actions/get-workflow-origin
	url = https://github.com/potiuk/get-workflow-origin.git
[submodule ".github/actions/clang-format-lint-action"]
	path = .github/actions/clang-format-lint-action
	url = https://github.com/DoozyX/clang-format-lint-action.git
[submodule ".github/actions/action-checkstyle"]
	path = .github/actions/action-checkstyle
	url = https://github.com/dbelyaev/action-checkstyle.git
