*.swp
*.pyc
be/output
be/build
be/build_Release
be/ut_build
output
docs/contents
docs/.temp
docs/.vuepress/dist
docs/node_modules
docs/build
docs/contents
gensrc/build
fe/fe-core/target
thirdparty/src
thirdparty/installed
*.so.tmp
.DS_Store
*.iml
core.*
extension/spark-doris-connector/.classpath
extension/spark-doris-connector/target
fe/log
custom_env.sh
ut_dir
log/
fe_plugins/*/target
fe_plugins/output
fe/mocked
fe/*/target
dependency-reduced-pom.xml
fe_plugins/**/.classpath
fe_plugins/**/.factorypath
samples/**/.classpath
fe/fe-core/src/main/resources/static/
nohup.out


#ignore eclipse project file & idea  project file
.cproject
.project
.settings/
.idea/
/Default/
be/cmake-build
be/cmake-build-debug
be/cmake-build-release
be/.vscode
be/src/gen_cpp/*.cc
be/src/gen_cpp/*.cpp
be/src/gen_cpp/*.h
be/src/gen_cpp/opcode
be/ut_build_*
be/tags
be/build*
be/test/olap/test_data/tablet_meta_test.hdr
build

ui/dist
ui/node_modules
ui/package-lock.json
docs/package-lock.json
fe/fe-common/.classpath
rpc_data/


#ignore vscode project file
.vscode
