# Use whitelist to set text on
# text means convert to LF when check in
# eol=lf means convert to LF when check out
*.cpp text eol=lf
*.cc text eol=lf
*.c text eol=lf
*.h text eol=lf
*.java text eol=lf
*.py text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.thrift text eol=lf
*.proto text eol=lf
*.conf text eol=lf
