/*
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

/* scrollbar css */
body::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #0c8760;
}
::selection {
    color:#FFFFFF;
    background-color:#0c8760;
    text-shadow:none;
}
::-moz-selection {
    color:#FFFFFF;
    background-color:#0c8760;
    text-shadow:none;
}
.sidebar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body{
    font-family: Arial !important;
}
#app.home{
    padding: 0;
    max-width: none;  
}
div > .navbar {
    height: 5.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
}
.navbar .navbarCenter{
    max-width: 100%;
    width :100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}
.navbar > .navbarCenter > .haoLinks{
    position: static;
    height: 100%;
}
.navbar > .navbarCenter > .haoLogo{
    position: static;
    display: flex;
}
.navbar > .navbarCenter > .haoLogo .logo{
    border-radius: 0;
    height: 40px;
    min-width: auto;
}
.nav-links .nav-item:nth-last-child(2){
    margin-left: 2rem !important;
    order: 2;
}
.nav-links .nav-item .downloads{
    color: #fff !important;
    border-radius: 25px;
    background: #2ca37d;
    padding: 13px 30px;
    display: block;  
}
.nav-links .nav-item .downloads:hover{
    background: #0c8760;
    border-bottom: 5px solid #01583d !important;
    box-shadow: 0 7px 10px rgba(1,88,4,.4);
}
.nav-links .nav-item .downloads.router-link-active {
    color: #ffffff;
}
.nav-links .nav-item i{
    font-size: 12px;
}
.logoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div .nav-links a:hover,
div .dropdown-wrapper .nav-dropdown .dropdown-item a:hover{
    color: #118b64;
}

div .home-blog .hero {
    margin: 5.625rem auto 0;
    background: url(/blog-images/homebannerbg.jpg) no-repeat center;
    background-size: cover;
    height: calc(100vh - 89px);
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .b{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bImg{
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sum{
    font-size: 18px;
    color: rgba(255,255,255,.5);
    line-height: 1.8;
    margin: 50px 0 100px;
    text-align: left;
}
.bText{
    width: 50%;    
}
div .home-blog .home-blog-wrapper {
    display: none;
}
.bannerHref{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.bannerHref a{
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background: #2ca37d;
    text-align: center;
    line-height: 55px;
    margin-right: 25px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    transition: all ease .3s;
    position: relative;
    border: 5px solid rgba(1,88,61,0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom 20px
}
.bannerHref a i{
    font-size: 22px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    padding-top: 4px; 
}
.bannerHref a.button1{
    background: #2ca37d;
    width: 196px;
}
.bannerHref a.button2{
    background: #333;
    padding-left: 16px;
    border-bottom: 5px solid rgba(1,88,61,0);
}
.bannerHref a:hover{
    background: #0c8760;
    border: 5px solid #01583d;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transform: translateY(-5px);
    box-shadow: 0 7px 10px rgba(1,88,4,.4);
}
.bannerHref a.button2.black:hover {
    background: #111;
    border-color: #000000;
    box-shadow: 0 7px 10px rgba(0,0,0,.2);
}
.bannerHref a.button2.white {
    background: #ffffff;
    color: #000000;
}
.bannerHref a.button2.white:hover {
    border-color: #ffffff;
    box-shadow: 0 7px 10px rgba(0,0,0,.2);
}
div .content__default:not(.custom) {
    max-width: 100%;
    padding: 0px;
}
.content__default:not(.custom) > h1:first-child {
    display: none;
}
.newsBox{
    padding: 100px 15px 130px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.newsBox ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 2.3rem;
}
.newsBox li{
    background: #f0f3f8;
    width: 31.3%;
    border-radius: 25px;
    padding: 45px 23px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease 0.3s;
}
.newsBox.transFroms{
    transform: translateY(0);
    opacity: 1;
}
.newsboxTitle{
    margin-bottom: 25px;
}
.newsboxTitle .t{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    transition: all ease .3s;
}
.newsboxTitle .s{
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
    margin: 22px 0;
}
.newsboxTitle i{
    font-size: 24px;
    color: #15a9ca;
    line-height: 1;
    transition: all ease .3s;
    display: inline-block;
}
.newsboxImg {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    height: 230px;
}
.newsboxImg img{
    transition: all ease .3s;
    width: 100%;
    pointer-events: none;
}
.newsBox li:hover{
    box-shadow: 0px 15px 20px rgba(19,29,46,.15);
    transform: translateY(-10px);
    transition: all ease .3s;
}
.newsBox li:hover .newsboxTitle .t{
    color: #0c8760;
}
.newsBox li:hover .newsboxTitle i{
    color: #0c8760;
    transform: translateX(100%);
}
.newsBox li:hover .newsboxImg img{
    transform: scale(1.1);
}
div .content__default:not(.custom) a:hover {
    text-decoration: none;
}
.newsdownData {
    border-radius: 25px;
    background: url(/blog-images/newdownb.jpg);padding: 90px 50px;
    position: relative;
}
.newsdownData .t{
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.newsleft{
    width: 70%;
}
.newsleft .s{
    font-size: 22px;
    color: #fff;
    opacity: .65;
    line-height: 1.6;
    font-weight: bold;
    margin: 50px 0;
}
.newsleft .fataImg{
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-240px);
    z-index: 10;
    height: 291px;
}
.newsleft .fataImg img{
    position: absolute;
    pointer-events: none;
}
.newsleft .fataImg img:nth-child(2){
    width: 0;
}
.newsleft .fataImg .dim{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: all ease 1.5s .8s;
    overflow: hidden;
}
.newsleft .fataImg .dim img{
    left: 0;
    width: 1270px;
    max-width: none;
}
.newsleft .fataImg .dim[data-state="true"]{
    width: 100%;
}
.newsleft .al{
    margin-top: 150px;
}
.newsleft a{
    margin-top: 0px;
    display: inline-block;
    color: #333;
    background: #fff;
    padding: 10px 38px;
    border-radius: 30px;
    transition: all ease 0.3s;
    border-bottom: 5px solid rgba(1,88,60,0);
    font-size: 18px;
    padding-top: 15px;
}
.newsleft a:hover{
    background: #0c8760;
    border-bottom: 5px solid #01583d;
    transform: translateY(-5px);
    box-shadow: 0 7px 10px rgba(13,28,70,.15);
    color: #fff;
}
.apacheDoris{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.appleft,
.appright {
    display: flex;
    justify-content: space-between;
}
.apptitle {
    width: 40%;
    padding-top: 55px;
}
.appimg{
    width: 55%;
}
.appimg img{
    float: right;
    pointer-events: none;
}
.apptitle .t{
    font-size: 42px;
    font-weight: bold;
    color: #333;
    line-height: 1;
    margin-bottom: 35px;
}
.apptitle .s{
    color: #999999;
    line-height: 2;
    margin-bottom: 35px;
}
.apptitle .al{}
.apptitle a{
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background: #2ca37d;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 15px;
    border-bottom: 5px solid rgba(1,88,60,0);
    transition: all ease .3s;
}
.apptitle a:hover{
    background: #0c8760;
    border-bottom: 5px solid #01583d;
    transform: translateY(-5px);
    box-shadow: 0 7px 10px rgba(13,28,70,.15);
    color: #fff;
}
.dorissolid1 {
    margin-top: -64px;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.appright .apptitle{
    order: 2;
    width: 45%;
    padding-top: 75px;
}
.appright .appimg{
    width: 100%;
    max-width: 706px;
    margin-left: -110px;
}
.dorissolid2{
    margin-top: -1px;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.appright3 .apptitle{
    width: 42%;
}
.appright3 .appimg{
    margin-top: -27px;
}
.icoBox {
    background: url(/blog-images/icobg.png) no-repeat center #315aaa;
    text-align: center;
    padding: 120px 0 50px;
}
.icoBoxtitle p{
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 80px;
    margin-top: 0;
}
.icoBoxtitle p span{
    color: #52caa4;
}
.icoBoxico ul{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1070px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    list-style: none;
    position: relative;
}
.icoBoxico ul li{
    width: 33.333%;
    margin: 0 0px 60px;
    position: relative;
    z-index: 1;
}
.icotitle{
    max-width: 225px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.icotitle .t{
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.icotitle .s{
    color: #fff;
    opacity: .6;
    line-height: 1.8;
    font-size: 14px;
}
.icoBoxico ul:before{
    content:'';
    background: url(/blog-images/is1.png) no-repeat center;
    width: 100%;
    height: 121px;
    position: absolute;
    left: 0px;
    z-index: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: all ease .7s .8s;
}
.icoBoxico ul:after{
    content:'';
    background: url(/blog-images/is2.png) no-repeat center;
    width: 100%;
    height: 121px;
    position: absolute;
    left: 0px;
    z-index: 0;
    right: 0;
    margin: 0 auto;
    top: 470px;
    opacity: 0;
    transition: all ease .7s .8s;
}
.icoBoxico ul li .icoimg img{
    transition: all ease .5s;
    border-radius: 100%;
    border-bottom: 6px solid rgba(1, 88, 60, 0);
    pointer-events: none;
}
.icoBoxico ul li:hover .icoimg img{
    border-bottom-color: #01583d;
    transform: translateY(-5px)rotate(15deg);
    box-shadow: 0 7px 10px rgba(13, 28, 70, .15);
}
.core {
    width: 100%;
    background: url(/blog-images/corebg.jpg) no-repeat bottom center;
    padding: 100px 15px;
    box-sizing: border-box;
}
.corebox{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.coreleft{
    width: 34%;
    padding-top: 100px;
}
.coreleft .t{
    color: #333;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -3px;
    margin-bottom: 50px;
}
.coreleft .s{
    color: #666;
    line-height: 2;
    margin-bottom: 45px;
}
.coreright{
    width: 61%;
}
.coreright ul{
    list-style: none;
    padding: 0;
}
.coreright ul li{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 55px;
}
.coreimg{
    max-width: 101px;
    width: 100%;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coreimg svg{
    width: 40px;
    margin: 0 auto;
    display: block;
    height: auto;
}
li:nth-child(1) .coreimg{
    background: rgba(20,169,202,.1);
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 50px;
}
li:nth-child(1) .coreimg svg{
    width: 34pxpx;
    margin: 0 auto;
    display: block;
    height: auto;
    fill: #14a9ca;
}
li:nth-child(2) .coreimg{
    background: rgba(81, 104, 172, 0.1);
    border-top-left-radius: 70px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 70px;
}
li:nth-child(2) .coreimg svg{
    width: 34pxpx;
    margin: 0 auto;
    display: block;
    height: auto;
    fill: #5168ac;
}
li:nth-child(3) .coreimg{
    background: rgba(82, 202, 164, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 30px;
}
li:nth-child(3) .coreimg svg{
    width: 34pxpx;
    margin: 0 auto;
    display: block;
    height: auto;
    fill: #52caa4;
}
li:nth-child(4) .coreimg{
    background: rgba(20,169,202,.1);
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 50px;
}
li:nth-child(4) .coreimg svg{
    width: 34pxpx;
    margin: 0 auto;
    display: block;
    height: auto;
    fill: #14a9ca;
}
.coretitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coretitle .t{
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0;
    line-height: 1;
}
.coretitle .s{
    color: #b0b0b0;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
.coreright ul li:nth-child(2n+0){
    margin-left: 25%;
}
.EventsBlog ul {
    list-style: none;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.EventsBlog ul li {
    width: 32%;
}
.ebimg {
    width: 100%;
    line-height: 1;
    overflow: hidden;
}
.ebimg img {
    width: 100%;
    line-height: 1;
    transition: all ease .3s;
    pointer-events: none;
}
.ebtitle {
    margin-top: 30px;
}
.ebtitle p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    margin: 0;
    color: #333;
    transition: all ease .3s;
}
.ebtitleH1 {
    margin: 0px 0 60px;
    text-align: center;
    font-size: 40px;
    color: #333;
    font-weight: bold;
    display: block;
}
.EventsBlog{
    margin-top: 100px;
}
.EventsBlog ul li:hover .ebimg img{
    transform: scale(1.1);
}
.EventsBlog ul li:hover .ebtitle p{
    color: #0c8760;
}
.footer {
    background: #2f4994;
    overflow: hidden;
}
.footerCenter {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerleft {
    display: flex;
}
.footerleft .f {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}
.footerleft .t {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 30px 0;
}
.footerleft .a {
    margin-bottom: 15px;
    color: #fff;
    opacity: .5;
    transition: all ease .3s;
}
.footerleft .a:hover{
    opacity: 1;
}
.footerright .t {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 30px 0;
    text-align: left;
}
.footerright ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;

}
.footerright ul li {
    margin-right: 14px;
}
.footerright ul li a {
    border-radius: 100%;
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    position: relative;
    align-content: center;
    transition: all ease .3s;
}
.footerright ul li a img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: auto;
}
.footerright ul li a:hover{
    border: 1px solid #3eaf7c;
    background: #3eaf7c;
}
.footerfoot {
    margin-top: 70px;
    padding-top: 40px;
    border-top: 1px solid rgba(255,255,255,.1);
    text-align: center;
    color: rgba(255,255,255,.4);
    line-height: 1;
    width: 100%;
    padding-bottom: 25px;
}
.footerfoot p {
    line-height: 1.6;
}
.footer-wrapper.footer {
    display: none;
}
aside.sidebar {
    background-color: #fff;
    border-right: 1px solid #f5f5f5;
    top: 89px;
}
aside.sidebar ul.sidebar-links > li {
    background: none;
}
aside.sidebar a.sidebar-link.active {
    color: #333;
    background: #d8efe5;
}
aside.sidebar .sidebar-heading {
    color: #333;
    font-weight: bold;
}
.sidebar .search-box{
    padding: 0.25rem 1.5rem 0.25rem 1.25rem;
    border-radius: 5px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin: 25px 20px 5px;
    width: auto;
    align-content: center;
}
.sidebar .search-box i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1.2rem;
}
.sidebar .search-box .suggestions{
    width: auto;
    top: 85px;
    left: 14.5px;
    right: 14.5px;
    border-radius: 5px;
    background: #fff;
    z-index: 99;
    font-size: 13px;
}
main.page {
    padding-top: 2rem;
}
main.page .page-title {
    color: #333;
    padding-bottom: 0;
    margin-bottom: -1rem;
}
main.page .theme-reco-content{
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
main.page .page-title div {
    color: #999;
}
.page-nav p.inner {
    border-top: 1px solid #f5f5f5;
}
div.custom-block.warning {
    background-color: #fff4ec;
    padding-top: 12px;
}
div.custom-block.tip {
    background-color: #effff4;
    padding-top: 12px;
}
ul.sub-sidebar-wrapper a[data-v-5f54e4e2]{
    color: #666;
    font-size: 14px;
}
.timeline-content{
    padding-top: 70px;
    margin: 0;
    padding-bottom: 30vh;
}
div.abstract-item .title a,
.abstract-item i{
    transition: all ease .3s;
}
div.abstract-item:hover .title a,
.abstract-item:hover i{
    color: #fff;
}
.back-to-ceiling:hover{
    transition: all ease .3s;
}
.back-to-ceiling:hover{
    background: #0c8760 !important;
}
.appleft3{
    transform: translateY(-30px);
}
.nav-links a .right,
.nav-links a .down{
    display: none;
}
.dorissolid1::before{
    content:'';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: .8;
    background: #3eaf7c;
    position: absolute;
    right: 82.8%;
    top: 100%;
    animation: dorisLA1 10s infinite linear;
}
.dorissolid2::before{
    content:'';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: .8;
    background: #3eaf7c;
    position: absolute;
    right: 82.8%;
    top: 100%;
    animation: dorisLB1 10s infinite linear;
}
.dian1{
    animation: dian1-1 2s infinite linear;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2ca37d;
    border-radius: 100%;
    left: 29.2%;
    top: 41.2%;
    display: inline-block;
    z-index: 0;
    transform: translate(-8px,-8px);
}
.dian2{
    animation: dian2-1 2s infinite linear;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2ca37d;
    border-radius: 100%;
    left: 29.2%;
    top: 41.2%;
    display: inline-block;
    z-index: 0;
    transform: translate(-8px,-8px);
}
.dian3{
    animation: dian3-1 2s infinite linear;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2ca37d;
    border-radius: 100%;
    left: 81.2%;
    top: 56.2%;
    display: inline-block;
    z-index: 0;
    transform: translate(-8px,-8px);
}
.dian4{
    animation: dian4-1 2s infinite linear;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2ca37d;
    border-radius: 100%;
    left: 68.2%;
    top: 66.2%;
    display: inline-block;
    z-index: 0;
    transform: translate(-8px,-8px);
}
.dian5{
    animation: dian5-1 2s infinite linear;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2ca37d;
    border-radius: 100%;
    left: 68.2%;
    top: 66.2%;
    display: inline-block;
    z-index: 0;
    transform: translate(-8px,-8px);
}
.sidebar-button .icon.guanbi{
    display:none;
}
.bcenter{
    position: relative;
    width: 100%;
}
#app.home .bcenter img{
    max-height: none;
    margin: 0;
    max-width: none;
    pointer-events: none;
    width: 100%;
}
.xbg1{
    position: absolute;
    width: 23%;
    height: 18%;
    border-radius: 100%;
    left: 43.2%;
    top: 28.5%;
    opacity: .8;
    background: #2ca37d;
    z-index: 0;
    animation: d1 3s infinite ease;  
}
.xbg2{
    position: absolute;
    width: 23%;
    height: 18%;
    border-radius: 100%;
    left: 43.2%;
    top: 28.5%;
    opacity: .5;
    background: #2ca37d;
    z-index: 1;
    animation: d2 2.5s infinite ease;  
}
.xbg3{
    position: absolute;
    width: 23%;
    height: 18%;
    border-radius: 100%;
    left: 43.2%;
    top: 28.5%;
    opacity: .2;
    background: #2ca37d;
    z-index: 2;
    animation: d3 2s infinite ease;  
}
.xb{
    position: absolute;
    left: 42%;
    top: 25%;
    background: url(/blog-images/xbkuanglogo.png) no-repeat center;
    width: 25.2%;
    height: 20.7%;
    animation: xb 3s infinite;  
    animation-direction:alternate;  
    z-index: 5;
    background-size: 100%;
}
@keyframes xb {
    0%{
        top: 25%;    
    }
    100%{
        top: 28%;
    }
}
@keyframes d1 {
    0%{
        transform: scale(1);
        top: 28.5%;
    }
    100%{
        transform: scale(1.4);
        top: 31.5%;
    }
}
@keyframes d2 {
    0%{
        transform: scale(1);
        top: 28.5%;
    }
    100%{
        transform: scale(1.3);
        top: 31.5%;
    }
}
@keyframes d3 {
    0%{
        transform: scale(1);
        top: 28.5%;
    }
    100%{
        transform: scale(1.2);
        top: 31.5%;
    }
}
.page .page-edit{
    border-top: 1px solid #f5f5f5;
    max-width: 860px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0 0;
}
#app div.tagpage{
    margin-left: 18rem;
    padding: 140px 40px 100px;
    width: auto;
    box-sizing: border-box;
}
#app div.tagpage > div{
    max-width: 860px;
    margin: 0 auto;
}
#app div.tagpage > div.tags{
    margin-bottom: 20px;
    margin-top: 10px;
}
#app div.tagpage > div.tags span{width: 60px;
    height: 28px;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 27px;
    text-align: center;
    font-size: 13px;
    transform: scale(1);
    transition: all ease .3s;
    margin: 0 10px 0 0;
    border-radius: 2px;
}
#app div.tagpage > div.tags span:hover{
    background: #2ca37d !important;
}
.nav-links a:hover, .nav-links a.router-link-active {
    color: #2ca37d;
}
.dropdown-wrapper .nav-dropdown .dropdown-item a {
    color: #686868 ;
}
#app a.sidebar-link{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1; 
    overflow: hidden;
    width: 100%;
    line-height: 1.6;
    padding: 0.35rem 1rem 0.35rem 1.25rem;
}
#app a.sidebar-link.active{
    border: 0;
    border-right: 3px solid #3eaf7c;
}
.tishi{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 30px 50px;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    line-height: 1;
    color: #333;
    border-radius: 4px;
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tishi p{
    font-size: 15px;
    margin: 0 0 30px 0;
    line-height: 1;
}
.guanbi{
    background: #2ca37d;
    border-radius: 25px;
    color: #fff;
    padding: 11px;
    font-size: 12px;
    max-width: 100px;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}
.tishi h3{
    color: #333;
    font-weight: bold;
    margin: 0 0 20px;
    line-height: 1;
    font-size: 22px;
}
#app.home .blogxiangqing{
    display: none;
}
#app.home .theme-reco-content{
    padding: 0;
    max-width: none;
}
#app.home main.page {
    padding: 0px;
}
div .home-blog .hero h1 {
    text-align: left;
    font-size: 4.2rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    display: block;
}
div .home-blog .hero .description{
    text-align: left;
    font-size: 4rem;
    color: #52caa4;
    max-width: none;
    display: block;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    line-height: 1;
}
#app.home .page-edit,
#app.home .comments-wrapper{
    display: none;
}
.navbar .search-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: calc(5.625rem + 0px);
    left: 0;
    margin: 0;
    width: 258px;
    background: #fff;
    padding: 16px 14.5px;
}
.navbar > a{
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}
header.navbar > .links{
    padding: 0;
    background: none;
    position: static;
    width: 100%;
    max-width: none !important;
    display: flex;
    justify-content: flex-end;
}
.navbar > .links nav{
    padding: 0;
    right: 1.5rem;
    background: none;
    line-height: 1;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    height: 5.625rem;
    display: flex;
    justify-content: flex-end;
}
.navbar > a img.logo{
    height: auto;
    min-width: auto;
    max-width: 46px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    border-radius: 0;
}
.navbar > a .site-name{
    line-height: 1;
    vertical-align: sub;
}
.navbar > .links .title,
.navbar > .links .nav-link{
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    border: 0 !important;
    margin: 0 !important;
    transition: all ease .15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.navbar > .links .nav-item{
    margin-left: 2.3rem;
    height: 100%;
    line-height: 0;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar > .links .nav-item .dropdown-wrapper{
    height: 100%;
}
.navbar > .links .nav-item .dropdown-wrapper .arrow{
    font-family: "doris" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    border: 0;
    margin: 0;
    width: 15px;
    height: 100%;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar > .links .nav-item .dropdown-wrapper .arrow:before {
    content: "\e62a";
}
.navbar > .links .nav-item .dropdown-wrapper .dropdown-title{
    display: flex;
    height: 100%;
}
.navbar > .links .nav-item .dropdown-wrapper .nav-dropdown{
    display: block !important;
    max-height: none;
    min-width: 100px;
    border-radius: 2px;
    background: #fefefe;
    border: 1px solid #f1f1f1;
    padding: 15px 0;
    width: fit-content;
    top: calc(100% - 2px);
    left: 50%;
    transition: all ease 0.3s;
    transform: translateY(20px) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: none;
}
.navbar > .links .nav-item .dropdown-wrapper .nav-dropdown a{
    font-weight: 400;
    font-size: 14px;
    line-height: 2.2;
    padding: 0 13px;
}
.navbar > .links .nav-item .dropdown-wrapper .nav-dropdown a:hover,
.navbar > .links .dropdown-title:hover span{
    color: #0c8760 !important;
}
.navbar > .links .nav-item .dropdown-wrapper:hover .nav-dropdown{
    transform: translateY(0px) translateX(-50%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
main.page > .theme-default-content{
    max-width: 860px;
    padding-top: 140px;
    padding-left: 15px;
    padding-right: 15px;
}
main.page > .page-nav{
    max-width: 860px;
    padding-left: 15px;
    padding-right: 15px;
}
main.page > .theme-default-content span.badge{
    margin: 0;
}
.page-nav p.inner{
    font-size: 0;
}
.page-nav p.inner > span a{
    font-size: 14px;
}
.home main.page > .theme-default-content{
    max-width: 100%;
    padding: 0px;
}
.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6 {
    margin-top: -5.1rem;
    padding-top: 6.6rem;
    margin-bottom: 0;
}
.timebox{
    font-size: 14px;
    color: #999;
    margin: 0;
    line-height: 1; 
}
.time-nomar{
    margin: 0 0 40px 0 !important;
}
#frontmatter-title{
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
    padding-top: 1.5rem;
}
#app .sidebar-sub-headers a{
    background: none;  
}
#app .sidebar-sub-headers a.active{
    color: #3eaf7c; 
    border: 0;
    font-weight: bold; 
}
#app .sidebar-sub-headers a{
    color: #7e7e7e;
}
.navbar .search-box .suggestions{
    background: #fff;
    top: 44px;
    left: 14.5px;
    right: 14.5px;
    width: 500px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}
#app .search-box .suggestion {
    padding: 0.6rem 0.6rem;
}
.search-box .suggestion a .page-title {
    color: #333333;
}
.back-to-ceiling{
    bottom: 1rem !important;  
}
.back-to-ceiling:hover .icon{
    fill: #fff !important;
}
header.navbar > .links .color-picker {
    display: none;
}
header.navbar > .links .search-box .iconfont {
    top: -1px;
    height: 40px;
    left: 29px;
    line-height: 40px;
}
.navbar > .links nav .title i{
    display: none;    
}
.dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after {
    display: none;
}
.footerfoot img{
    pointer-events: none;
}
main.page .page-title .translate-warnning {
    background-color: #ffba0026;
    padding: 16px;
    border-left: 5px solid #e6a700;
    border-radius: 6px;
    line-height: 1.6;
    color: #4d3800;
}
main.page .page-title .title{
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
main.page .page-title div > i:nth-child(1){
    display: none;
}
main.page .page-title div > i {
    font-size: 13px;
    color: #999;
}
main.page .page-title div > i span {
    font-family: arial;
}
main.page .page-title div > i::before {
    font-size: 14px;
    color: #c5c5c5;
}
#app .timeline-wrapper {
    padding-top: 0;
}
#app .timeline-wrapper .timeline-content{
    padding-top: 8rem;
    padding-left: 45px;
}
#app .timeline-wrapper .timeline-content > li:nth-child(1) {
    display: none;
}
#app .timeline-wrapper .timeline-content .year{
    font-size: 40px; 
    margin-bottom: 20px;
}
#app .timeline-wrapper .timeline-content .year-wrapper li{
    padding: 10px 0 10px;
    border-bottom: 1px dashed #eee;
}
#app .timeline-wrapper .timeline-content .year-wrapper li .date{
    color: #b3b3b3;
    font-size: 14px;
}
#app .timeline-wrapper .timeline-content .year-wrapper li .title{
    color: #606060;
    margin-left: 15px;
}
#app .timeline-wrapper .timeline-content .year::before{
    left: -46px;
}
#app .timeline-wrapper .timeline-content .year-wrapper li .date::before{
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
}
#app .timeline-wrapper .timeline-content .year-wrapper li:hover span{
    color: #3eaf7c;
}
#app .pagation .pagation-list span.jump{
    padding: 8px 12px;
    border-radius: 17px;
    cursor: pointer;
    margin-left: 5px;
    box-shadow: none;
    border: 1px solid #ebebeb !important;
    font-weight: 500;
    font-size: 12px;
    color: #666;
}
#app .pagation .pagation-list span.bgprimary,
#app .pagation .pagation-list span:hover{
    background: #3eaf7c;
    border: 1px solid #3eaf7c !important;
    color: #fff;
}
#app .pagation .pagation-list span.jumpinp input{
    box-shadow: none;
}
#app .pagation .pagation-list span.jumppoint,
#app .pagation .pagation-list span.jumpinp,
#app .pagation .pagation-list span.gobtn{
    display: none;
}
#app .abstract-wrapper.list{
    padding-bottom: 100px;    
}
#app .theme-container{
    max-width: none;
    padding: 5.625rem 0 0;
}
#app .category-wrapper{
    max-width: 288px;
    position: fixed;
    left: 0;
    top: 5.625rem;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid #f5f5f5;
    margin: 0;
    transform: translate(0px, 0px) !important;
    opacity: 1 !important;
    padding: 4.5rem 0 1.5rem;
    width: 100%;
}
#app .abstract-wrapper{
    margin-left: 288px;
    width: auto;
    padding: 60px 15px 100px;
}
#app .abstract-wrapper > div{
    max-width: 860px;
    margin: 0 auto 20px;
    background: #f5f5f5;
    box-shadow: none;
    padding: 25px 30px;
}
#app .category-wrapper li{
    width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    background: none;
}
#app .category-wrapper li a{
    padding: 12px 15px;
    line-height: 1;
    font-size: 13px;
    position: relative;
    background: rgba(62, 175, 124, 0);
}
#app .category-wrapper li a::after{
    content:'';
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    background: #3eaf7c;
    opacity: 0;
}
#app .category-wrapper li a:hover span:first-child{
    color: #3eaf7c;
}
#app .category-wrapper li.active a{
    background: rgba(62, 175, 124, .1);
}
#app .category-wrapper li.active a::after{
    opacity: 1;
}
#app .category-wrapper li.active a span:first-child{
    color: #3eaf7c;
}
#app .abstract-wrapper > div:hover{
    background: #2ca37d;
}
#app .abstract-wrapper > div .title{
    font-size: 18px;
    line-height: 1;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#app .abstract-wrapper > div .title a{
    color: #333;
}
#app .abstract-wrapper > div:hover a{
    color: #fff;
}
#app .abstract-wrapper > div div:last-child{
    pointer-events: none;
}
#app .abstract-wrapper > div div:last-child i{
    line-height: 1;
    color: #b9b9b9;
}
#app .abstract-wrapper > div div.pagation-list{
    pointer-events: auto;
}
#app .abstract-wrapper > div:hover div:last-child i{
    color: #fff;
}
#app .abstract-wrapper > div .title::after{
    display: none;
}
#app .abstract-wrapper > div:last-child{
    background: none;
    padding: 0;
}
main.page .page-title div > i.tags{
    display: none;
}
.content__default:not(.custom) > h1, 
.content__default:not(.custom) > h2, 
.content__default:not(.custom) > h3, 
.content__default:not(.custom) > h4, 
.content__default:not(.custom) > h5, 
.content__default:not(.custom) > h6 {
    font-weight: bold;
}

#app .page .theme-reco-content h2 {
    padding-left: 0;
}

#app .page .theme-reco-content h2::before {
    display: none;
}
.nav-links .nav-item .downloads{
    height: auto;    
}
.home main.page .page-title{
    display:none;    
}
// .home .home-blog {
//     padding: 5.625rem 0 0 0;
// }
.navbar .links .search-box input{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    height: 40px;
}
.sidebar-group > .sidebar-group-items {
    padding-left: 0.5em;
}

.sidebar-group.is-sub-group {
    padding-left: 0.5em;
}
.no-sidebar .navbar .search-box{
    display: none;
}
.category .no-sidebar .navbar .search-box{
    display: block;    
}
.categories-wrapper.no-sidebar .navbar .search-box{
    display: block;
}
.navbar > .links nav .nav-item:last-child ul li{
    line-height: 0;    
}
.navbar > .links nav .nav-item:last-child ul li:nth-child(1) a,
.navbar > .links nav .nav-item:last-child ul li:nth-child(2) a{
    font-size: 0px;
}
.navbar > .links nav .nav-item:last-child ul li:nth-child(1) a i,
.navbar > .links nav .nav-item:last-child ul li:nth-child(2) a i{
    display: none;   
}
.navbar > .links nav .nav-item:last-child ul li:nth-child(1) a::after{
    content: 'English';
    display: block;
    font-size: 14px;
    position: static;
    border: 0;
    width: auto;
    height: auto;
}
.navbar > .links nav .nav-item:last-child ul li:nth-child(2) a::after{
    content: '简体中文';
    display: block;
    font-size: 14px;
    position: static;
    border: 0;
    width: auto;
    height: auto;
}

#app .sidebar-group.is-sub-group > .sidebar-heading {
    padding-left: 1.25rem;
}
.nopage h1{
    font-size: 100px;
    line-height: 1;
    font-weight: bold;
    font-family: arial;
    margin-bottom: 20px;
}
.nopage blockquote{
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 1;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.nopage a{}



@media screen and (min-width:768px) {
    .theme-container.no-sidebar .sidebar.showme ul li a .post-num{
        padding: 1px 3px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        height: 15px;
        line-height: 15px;
        margin-top: 5px;
    }
    .sidebar > ul.sidebar-links {
        padding: 5rem 0 1.5rem;
    }
    .theme-container.no-sidebar .sidebar.showme{
        display: block;
        top: 160px;
        background-color: #fff;
        border-right: 1px solid #f5f5f5;
        transform: translateY(0px) !important;
        opacity: 1 !important;
    }
    .theme-container.no-sidebar .sidebar.showme ul li{
        background: none;
        margin: 0;
    }
    .theme-container.no-sidebar .sidebar.showme ul li a{
        font-size: 15.2px;
        font-weight: 400;
        display: flex;
        padding: 0.35rem 1rem 0.35rem 1.25rem;
        line-height: 1.7;
        box-sizing: border-box;
        color: #333;
        justify-content: space-between;
        border-right: 3px solid #ffffff;
    }
    .theme-container.no-sidebar .sidebar.showme ul li a:hover{
        color: #3eaf7c;
    }
    .theme-container.no-sidebar .sidebar.showme ul li.active a{
        border-right: 3px solid #3eaf7c;
        color: #333;
        background: #d8efe5;
        font-weight: bold;
    }
    .abstract-wrapper.bokeliebiao,
    .youde .no-sidebar .page{
        margin-left: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 140px 0px 100px;
        box-sizing: border-box;
        width: auto !important;
    }
    .youde .no-sidebar .page{
        margin-left: 18rem !important;
        padding-right: 14rem !important;
    }
    .abstract-wrapper.bokeliebiao > div{
        max-width: 860px;
        margin: 0 auto 20px;
    }
    .youde #app .sidebar.blogliebiao{
        display: block;
    }
    .youde #app .sidebar.blogliebiao .nav-links{
        padding: 2rem 0 1.5rem;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item{
        display: none;
        padding: 0;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item:nth-child(1){
        display: block;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item:nth-child(1) .dropdown-wrapper > a{
        pointer-events: none;
        line-height: 2.2;
        padding: 0.35rem 1.5rem 0.35rem 1.25rem;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item .dropdown-wrapper{
        height: auto;    
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item .nav-dropdown{
        position: static;
        opacity: 1;
        max-height: none;
        border-radius: 0;
        transform: translate(0,0);
        border: 0;
        background: none;  
        padding: 0;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item:nth-child(1) .dropdown-wrapper > a i{
        display: none;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item .nav-dropdown a{
        padding: 0.35rem 1rem 0.35rem 2.25rem;
        font-size: 15px;
        font-weight: 400;
        transition: none;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item .nav-dropdown .active a{
        color: #333;
        background: #d8efe5;
        border-right: 3px solid #3eaf7c;
        font-weight: bold;
    }
    .pagation .pagation-list span.jump:hover {
        background: #3eaf7c;
        border: 1px solid #3eaf7c;
        color: #fff;
    }
}















@media screen and (max-width:1300px) {
    .newsleft .fataImg .dim img {
        width: 100%;
    }
    .newsleft .fataImg .dim{
        width: 100%;
    }
    .navbar > .links nav .nav-item{
         margin-left: 1rem;   
    }
    .navbar > .links nav .nav-item:first-child{
         margin-left: 0;   
    }
    .navbar > .links .document.nav-item {
        margin-right: 1rem;
    }
}
@media screen and (max-width:1200px) {
    div .nav-links .nav-item{
        margin-left: 1.5rem;
    }
    .navbar > .links .document.nav-item {
        a {
            font-size: 15px;
        }
    }
    .nav-links a.dropdown-title,
    .nav-links a.nav-link{
        font-weight: 500;
        font-size: 15px;
    }
    .nav-links .nav-item .downloads {
        padding: 12px 22px;
    }
    div .home-blog .hero h1{
        font-size: 2.8rem;
    }
    div .home-blog .hero .description{
        font-size: 2.5rem;
    }
    .sum {
        font-size: 15px;
        line-height: 1.5;
        margin: 30px 0 60px;
    }

    .bannerHref a {
        width: 160px;
        height: 39px;
        line-height: 39px;
        margin-right: 12px;
        font-size: 14px;
        padding-top: 3px;
        margin-bottom 20px
    }
    .bannerHref a.button1 {
        width: 176px;
    }
    div .home-blog .hero {
        height: 64vh;
    }
    .bImg {
        width: 60%;
    }
    .bText {
        width: 40%;
    }
    .newsboxTitle .t {
        font-size: 15px;
        line-height: 1.3;
    }
    .newsboxTitle .s {
        font-size: 13px;
        line-height: 1.4;
        margin: 15px 0;
    }
    .newsboxImg {
        height: 180px;
    }
    .newsBox li {
        padding: 35px 23px 0;
    }
    .newsBox {
        padding: 70px 15px 70px;
    }
    .newsdownData .t {
        font-size: 22px;
    }
    .newsleft .s {
        font-size: 16px;
    }
    .newsleft .fataImg {
        transform: translateY(-170px);
        height: 240px;
    }
    .newsleft .fataImg .dim img{
        display: none;
    }
    .newsleft .fataImg .dim {
        background: url(/blog-images/data-1.png) no-repeat left top;
        background-size: 100%;
    }
    .newsleft .al {
        margin-top: 140px;
    }
    .newsdownData {
        padding: 60px 40px;
    }
    .apptitle .t {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .apptitle .s {
        line-height: 1.7;
        font-size: 14px;
        margin-bottom: 20px;
        word-break: break-word;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .apptitle .al {
        margin-top: 30px;
    }
    .appimg {
        width: 53%;
    }
    .apptitle {
        padding-top: 15px;
    }
    .apptitle a {
        width: 160px;
        height: 40px;
        line-height: 40px;
        padding-top: 5px;
    }
    .dorissolid1 {
        max-width: 660px;
        margin: -64px auto 0;
    }
    .dorissolid1 img{
        width :100%;
    }
    .appright .appimg {
        max-width: 450px;
        margin-left: -90px;
    }
    .appright .apptitle {
        padding-top: 10px;
        width: 40%;
        margin-right: 3%;
    }
    .dorissolid2{
        max-width: 620px;
        margin: -23px auto 0;
    }
    .dorissolid2 img{
        width :100%;
    }
    .apacheDoris {
        max-width: 880px;
    }
    .appleft, .appright {
        padding-bottom: 23px;
    }
    .icoBox {
        padding: 60px 0 10px;
    }
    .icoBoxtitle p {
        font-size: 40px;
        margin-bottom: 80px;
        margin-bottom: 50px;
    }
    .icotitle .t {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .icotitle .s {
        line-height: 1.5;
        font-size: 13px;
    }
    .icotitle {
        margin-top: 13px;
    }
    .icoBoxico ul li .icoimg img {
        max-width: 90px;
    }
    .icoBoxico ul {
        max-width: 900px;
    }
    .icoBoxico ul:before {
        height: 90px;
        max-width: 600px;
        background-size: 500px;
    }
    .icoBoxico ul li {
        margin: 0 0px 40px;
    }
    .icoBoxico ul:after{
        height: 90px;
        max-width: 600px;
        background-size: 500px;
        top: 340px;
    }
    .coreleft .t {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .coreleft .s {
        line-height: 1.8;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .coretitle .t {
        font-size: 16px;
    }
    .coretitle .s {
        font-size: 13px;
        line-height: 1.3;
    }
    .coreright ul li {
        margin-bottom: 35px;
    }
    .coreleft {
        padding-top: 20px;
    }
    .corebox {
        max-width: 880px;
    }
    .ebtitleH1 {
        font-size: 36px;
        letter-spacing: -3px;
        margin: 0px 0 40px;
    }
    .ebtitle p {
        font-size: 15px;
        line-height: 1.4;
    }
    .ebtitle {
        margin-top: 20px;
    }
    .EventsBlog {
        margin-top: 40px;
    }
    .core {
        padding: 85px 15px;
    }
    .EventsBlog ul {
        max-width: 910px;
    }
    .footerCenter {
        padding-top: 70px;
        max-width: 880px;
    }
    .footerleft .t {
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    .footerleft .a {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .footerright .t {
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    .footerright ul li {
        margin-right: 10px;
    }
    .footerright ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .footerright ul li a img {
        width: 13px;
    }
    .footerfoot p {
        line-height: 1.3;
        font-size: 12px;
    }
    .footerfoot {
        margin-top: 40px;
    }
    .sidebar .search-box {
        display: block;
    }
    .dorissolid1::before{
        animation: dorisLA2 10s infinite linear;
    }
    .dorissolid2::before{
        animation: dorisLB2 10s infinite linear;
    }
    .abstract-wrapper.bokeliebiao{
        padding: 140px 40px 100px;
    }
    .navbar > .links nav .nav-item{
         margin-left: 1.4rem;   
    }
    .navbar > .links nav .title, .navbar > .links nav .nav-link {
        font-size: 14px;
    }
}
@media screen and (max-width: 1100px) {
    .navbar > .links nav .title, .navbar > .links nav .nav-link {
        font-size: 13px;
    }
    .navbar > .links nav .nav-item {
        margin-left: 12px;
    }
}
@media screen and (max-width:959px) {
    .abstract-wrapper.bokeliebiao,
    .youde .no-sidebar main.page {
        margin-left: 14.76rem;
    }
    .youde .no-sidebar main.page {
        padding: 140px 14rem 0 0rem !important;
        margin-left: 14rem !important;
    }
    #app div.tagpage {
        padding: 140px 40px 100px;
        margin-left: 14rem;
    }
    .navbar > .links nav .nav-item{
        margin-left: .9rem;   
    }
    .navbar > .links .document.nav-item {
        display: none;
    }
    .navbar .dropdown-box {
        left: 14rem !important;
        .dropdown-wrapper.open .dropdown-title {
            margin-bottom: 0;
        }
        .nav-dropdown {
            padding: 0;
            margin: 0;
            background-color: #ffffff;
            border: 1px solid #f1f1f1;
        }
    }
}
@media screen and (max-width:768px) {
    .navbar .links nav.can-hide {
        display: none;
    }
    .navbar .home-link {
        left: 10px;
    }
    div > .navbar{
        padding: 0 15px;
        height: 4rem;
    }
    div .sidebar-button {
        position: absolute;
        right: 15px;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }
    div .home-blog .hero {
        margin: 4rem auto 0;
        height: auto;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 350px;
    }
    .hero .b {
        flex-direction: column;
        padding-top: 60px;
    }
    .bText {
        width: 100%;
    }
    .home-blog .hero .hero-img {
        max-height: none;
    }
    .bImg {
        width: 100%;
        top: auto;
        bottom: 0;
        height: auto;
        max-width: 500px;
    }
    div .home-blog .hero h1 {
        font-size: 2rem;
        margin: 0;
    }
    div .home-blog .hero .description {
        font-size: 2rem;
    }
    .sum {
        margin: 20px 0 30px;
    }
    aside.sidebar {
        top: 4rem;
        padding: 0;
    }
    div .sidebar .personal-info-wrapper {
        display: none;
    }
    div .sidebar .search-box{
        display: block;
        margin: 25px 15px 5px;
    }
    div .nav-links .nav-item {      
        margin-left: 0rem;
    }
    .nav-links .nav-item:nth-last-child(2) {
        margin-left: 0rem;
    }
    div .sidebar .nav-links .nav-item{
        padding: 0px;
    }
    .newsBox ul {
        flex-direction: column;
    }
    .newsBox li {
        width: 100%;
        margin-bottom: 20px;
    }
    .newsdownData {
        padding: 50px 30px;
        background-position: right center;
        background-size: 100%;
    }
    .newsleft {
        width: 100%;
    }
    .newsdownData .t {
        font-size: 18px;
    }
    .newsleft .s {
        font-size: 14px;
        margin: 20px 0;
    }
    .newsleft .fataImg {
        transform: translateY(0px);
        height: 150px;
    }
    .newsleft .fataImg .dim {
        background-size: 100%;
        width: 100%;
    }
    .newsleft a {
        padding: 10px 28px 5px;
    }
    .appleft, .appright {
        flex-direction: column;
    }
    .apptitle {
        width: 100%;
    }
    .appimg {
        width: 100%;
        margin: 40px 0 50px;
    }
    .dorissolid1,
    .dorissolid2{
        display:none;    
    }
    .appright .apptitle {
        order: -2;
        width: 100%;
    }
    .appright .appimg {
        width: 100%;
        margin: 40px 0 60px;
        max-width: 100%;
    }
    .icoBoxtitle p {
        font-size: 26px;
    }
    .icotitle .s {
        display: none;
    }
    .icotitle .t {
        font-size: 15px;
        margin-bottom: 0;
    }
    .icoBoxico ul:before,
    .icoBoxico ul:after{
        display: none;
    }
    .icoBoxico ul li .icoimg img {
        max-width: 75px;
    }
    .icotitle {
        margin-top: 10px;
    }
    .corebox {
        flex-direction: column;
    }
    .coreleft {
        width: 100%;
        padding-top: 0;
    }
    .core {
        padding: 55px 15px;
    }
    .coreright {
        width: 100%;
    }
    .coreright ul li:nth-child(2n+0) {
        margin-left: 0%;
    }
    .EventsBlog ul {
        flex-direction: column;
    }
    .EventsBlog ul li {
        width: 100%;
        margin-bottom: 40px;
    }
    .footerCenter {
        padding: 70px 15px 0;
        box-sizing: border-box;
    }
    .footerleft .f {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .footerleft {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #app div.categories-wrapper ul.category-wrapper{
        margin: 30px 0;
        display: none;
    }
    #app div.categories-wrapper ul.category-wrapper li{
        width: 100%;
        margin: 0 0 5px 0;
    }
    #app .abstract-wrapper{
        margin-left: 0;
        padding: 0px 0px 40px;
    }
    div.abstract-item .title a{
        font-size: 15px;
    }
    main.page {
        padding-top: 0px;
    }
    .page-title .title{
        font-size: 20px;
    }
    main.page .page-title div {
        color: #999;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    main.page .theme-reco-content {
        padding: 1rem 15px;
        box-sizing: border-box;
    }
    main.page .page-title {
        padding: 1rem 15px;
    }
    main.page .page-title .title{
        font-size: 22px;
    }
    .page footer.page-edit {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 20px;
        margin-top: 20px;
        padding: 1rem 0px;
        margin: 0 15px;
    }
    .content__default div[class*="language-"] {
        margin: 0.85rem 0rem !important;
    }
    div.page-nav {
        padding: 1rem 15px 0;
    }
    #app .timeline-wrapper {
        padding: 4rem 0 0;
    }
    #app .timeline-wrapper .timeline-content .desc, 
    #app .timeline-wrapper .timeline-content .year {
        font-size: 24px;
    }
    .newsleft .al {
        margin-top: 200px;
    }
    .bannerHref a i {
        left: 40px;
    }
    .sidebar-open .sidebar-button .icon.guanbi{
        display:block;
    }
    .abstract-wrapper.bokeliebiao {
        margin-left: 0;
        padding: 0px !important;
    }
    .abstract-wrapper.bokeliebiao > div {
        padding: 15px;
    }
    #app .abstract-item .title {
        line-height: 1;
        padding-bottom: 20px;
    }
    .youde .no-sidebar main.page{
        padding: 0px !important;
        margin-left: 0rem;
        margin-top: 93px;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item{
        display: block;    
        padding: 10px 15px;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item .dropdown-wrapper > a,
    .youde #app .sidebar.blogliebiao .nav-links .nav-item > a {
        line-height: 1 !important;
        padding: 0px !important;
    }
    .youde #app .sidebar.blogliebiao .nav-links {
        padding: 0.5rem 0 0.75rem 0;
    }
    .youde #app .sidebar.blogliebiao .nav-links .nav-item:nth-last-child(2) > a{
        padding: 15px 15px !important;
    }
    .categories-wrapper[data-v-0838f247] {
        padding: 5.6rem 1rem 0 !important;
    }
    .sidebar.showme{
        position: static;
        padding: 0;
        width: 100%;
        border: 0;
        padding: 0;
    }
    div.sidebar ul.sidebar-links {
        display: flex;
    }
    div.sidebar ul.sidebar-links > li {
        background: #f5f5f5;
        margin: 0 15px 0 0 !important;
        padding: 5px 15px;
        border-radius: 5px;
    }
    div.sidebar ul.sidebar-links > li.active {
        background: #3eaf7c;
    }
    div.sidebar ul.sidebar-links > li a {
        color: #646464;
        font-size: 13px;
    }
    div.sidebar ul.sidebar-links > li.active a {
        color: #fff;
    }
    div.sidebar ul.sidebar-links > li a .post-num{
        color: #fff;
        font-size: 12px;
        border-radius: 2px;
        padding: 3px 4px;
        line-height: 1;
    }
    .youde .no-sidebar main.page {
        padding: 0px 0rem 0 0rem !important;
        margin-left: 0rem !important;
    }
    #app div.tagpage {
        padding: 0px;
        margin-left: 0rem;
    }
    #app .tag-wrapper div.tagpage > div.tags span {
        margin: 0 5px 5px 0;
    }
    .nav-links .nav-item .downloads{
        background: none;
        color: #333 !important;
        text-align: left;
        padding: 0;
        border: 0;
    }
    .nav-links .nav-item:nth-last-child(2) {
        margin-left: 0rem !important;
    }
    .nav-links .nav-item{
        width: 100%;
        display: block;
        border-bottom: 1px solid #f5f5f5;
    }
    .nav-links .nav-item .dropdown-wrapper > a,
    .nav-links .nav-item > a,
    .nav-links .nav-item .downloads{
        padding: 14px 15px;
        margin: 0;
    }
    div .sidebar .nav-links .nav-item:last-child{
        display :none;
    }
    .nav-links .nav-item .downloads:hover {
        background: none;
        border-bottom: 0px solid #01583d !important;
        box-shadow: none;
    }
    .nav-links .nav-item .dropdown-wrapper > a > span.title,
    .nav-links .nav-item > a span.title,
    .nav-links .nav-item .downloads span.title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
    }
    .nav-links .nav-item .dropdown-wrapper > a > span.title i,
    .nav-links .nav-item > a span.title i,
    .nav-links .nav-item .downloads span.title i{
        order: 2;
    }
    .sidebar .nav-links .nav-item > a{
        font-size: 16px;
        font-weight: 500;
    }
    .sidebar .nav-links{
        border-bottom: 0 !important;    
    }
    div .sidebar .nav-links .nav-item .nav-dropdown{
        padding-bottom: 20px;
    }
    div .sidebar .nav-links .nav-item .nav-dropdown a{
        font-size: 13px;
        line-height: 1.7;
        color: #999 !important;
    }
    // .home .home-blog{
    //     padding: 4rem 0 0 0;  
    // }
    #app .timeline-wrapper .timeline-content{
        padding-top: 1px;
    }
    .search-box{
        display: none !important;    
    }
    #app .theme-container {
        padding: 4rem 0 0;
    }
    #app .footer-wapper {
        margin-left: 0;
    }
   
}
@keyframes dorisLA1{
    0%{right: 16%;top: 0%;}
    20%{right: 16%;top: 45%;}  
    80%{right: 82.8%;top: 45%;}  
    100%{right: 82.8%;top: 100%;}
}
@keyframes dorisLA2{
    0%{right: 0%;top: 0%;}
    20%{right: 0%;top: 43%;}  
    80%{right: 97.5%;top: 43%;}  
    100%{right: 97.5%;top: 100%;}
}
@keyframes dorisLB1{
    0%{left: 16.3%;top: 0%;}
    20%{left: 16.3%;top: 37%;}  
    80%{left: 82.3%;top: 37%;}  
    100%{left: 82.3%;top: 100%;}
}
@keyframes dorisLB2{
    0%{left: 0.8%;top: 0%;}
    20%{left: 0.8%;top: 35%;}  
    80%{left: 96.8%;top: 35%;}  
    100%{left: 96.8%;top: 100%;}
}
@keyframes dian1-1{
    0%{left: 41.2%;top: 45.2%;}
    70%{left: 32.2%;top: 38.2%;}
    100%{left: 30.2%;top: 40.2%;}
}
@keyframes dian2-1{
    0%{left: 79.6%;top: 43.2%;}
    100%{left: 74.6%;top: 47.2%;}
}
@keyframes dian3-1{
    0%{left: 81.2%;top: 56.2%;}
    100%{left: 76.2%;top: 53.2%;}
}
@keyframes dian4-1{
    0%{left: 68.2%;top: 66.2%;}
    100%{left: 64.2%;top: 62.2%;}
}
@keyframes dian5-1{
    0%{left: 43.2%;top: 61.2%;}
    100%{left: 36.2%;top: 66.2%;}
}


@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100px,0);
        transform: translate3d(0,100px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100px,0);
        transform: translate3d(0,100px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
    opacity: 1 !important;
}