DORIS_CLOUD_USER=xxxx
DORIS_CLOUD_AK=xxxx
DORIS_CLOUD_SK=xxxx
DORIS_CLOUD_BUCKET=xxxx
DORIS_CLOUD_ENDPOINT=cos.ap-hongkong.myqcloud.com
DORIS_CLOUD_EXTERNAL_ENDPOINT=cos.ap-hongkong.myqcloud.com
DORIS_CLOUD_REGION=ap-hongkong
DORIS_CLOUD_PROVIDER=COS
