// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.logo {
  width: 10em;
  height: 4em;

  background-image: url(../../assets/manager_logo.png);
  background-size: 100% 100%;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 8px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
  border-color: #a1a2a2;
  border-width: 1px;
  border-bottom-style: solid;
}

.data-builder-header-items {
  padding: 8px;
  margin-right: 16px;
  border-radius: 8px;
}
.userStyle{
  padding: 0;
  background: '#f9fbfc';
  border-bottom: '1px solid #d9d9d9';
}

.adminStyle{
  padding: 0;
  background: '#000';
  border-bottom: '1px solid #d9d9d9';
}