# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

attrs==23.1.0
boltons==23.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.7
kafka-python==2.0.2
numpy==1.24.2
petl==1.7.12
pexpect==4.8.0
ptyprocess==0.7.0
pycurl==7.45.2
PyMySQL==1.0.3
pytest==7.4.0
pytest-html==3.2.0
pytest-metadata==3.0.0
pytest-timeout==2.1.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.28.2
six==1.16.0
urllib3==1.26.1

