// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
.input-gird {
  margin-left: 3%;

  input {
    width: 400px;
  }
}

.input-password {
  border-radius: '10px'
}

.columns{
  width: 500px;
  height: 200px;
  margin: 30px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.dorisSpaceList .dorisSpaceListContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 200px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #f9fbfc;
}
.dorisSpaceList .dorisSpaceListContainer li {
  width: 500px;
  height: 200px;
  margin: 30px 0px;
  border-radius: 5px;
  cursor: pointer;
  /* border: 1px solid #ccc; */
}
.dorisSpaceList .dorisSpaceListContainer li h3 {
  color: #000;
  margin: 0 20px;
  padding: 10px 5px;
  font-size: 28px;
  border-bottom: 1px solid #ccc;
}
.dorisSpaceList .dorisSpaceListContainer li p {
  color: #797979;
  margin: 0 20px;
  padding: 10px 5px;
}
.dorisSpaceList .dorisSpaceListContainer .newSpaceBTN{
  margin: 70px auto;
  display: flex;
  text-align: left;
  padding-left: 50px;
  align-items: center;
}
.dorisSpaceList .dorisSpaceListContainer .space-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dorisSpaceList .dorisSpaceListContainer .space-title .space-delete {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 16px;
  color: black;
  font-weight: normal;
  padding: 10px;
}
.dorisSpaceList .dorisSpaceListContainer .space-title .space-delete:hover {
  color: #366CD9;
}

.dorisSpaceList .dorisSpaceListContainer .newSpaceBTN span{
    color: #000;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding-left: 10px;
}
.dorisSpaceList .dorisSpaceListContainer .bg-white {
  width: 500px;
  height: 200px;
}
.doris-space-check span {
  padding-left: 1.5rem;
}
.doris-space-check .input {
  width: 500px;
}