<header role="banner">
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div class="unit one-quarter center-on-mobiles">
      <h1>
        <a href="/">
          <span class="sr-only">Apache ORC</span>
          <img src="/img/logo.png" width="249" height="101" alt="ORC Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav unit three-quarters hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>
