# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# MySQL config that enables binlog for CDC and relaxes sql_mode so that
# zero dates ('0000-00-00') and ancient dates can be inserted for the
# date/time deserialization tests.
[mysqld]
server-id=223344
log-bin=mysql-bin
binlog-format=ROW
binlog-row-image=FULL
# Dropping STRICT_TRANS_TABLES / NO_ZERO_DATE / NO_ZERO_IN_DATE lets the
# fixture insert '0000-00-00' and other ancient values.
sql-mode=NO_ENGINE_SUBSTITUTION
default-time-zone=+00:00
