{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"

  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
