/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* .ant-layout-header .logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
} */
.ant-layout-header .logo img {
    width: 120px;
    height: 31px;
}
.site-layout .site-layout-background {
    background: #fff;
}
.ant-menu-dark.ant-menu-horizontal {
    height: 64px;
}
.userSet {
    height: 56px;
    float: right;
}

.userSet > span {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    /* color: rgba(255, 255, 255, 0.65); */
}

.userSet .avatar {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}
