# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
---
name: Build Extensions

on:
  pull_request:

concurrency:
  group: ${{ github.ref }} (Build Extensions)
  cancel-in-progress: true

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      broker_changes: ${{ steps.filter.outputs.broker_changes }}
      docs_changes: ${{ steps.filter.outputs.docs_changes }}
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          submodules: recursive

      - name: Paths filter
        uses: ./.github/actions/paths-filter
        id: filter
        with:
          filters: |
            broker_changes:
              - 'fs_brokers/**'
            docs_changes:
              - 'docs/**'
  build-broker:
    name: Build Broker
    needs: changes
    if: ${{ needs.changes.outputs.broker_changes == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v3

      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: '8'

      - name: Setup thrift
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y thrift-compiler=0.13.0-2build2
          thrift --version
          mkdir -p thirdparty/installed/bin/
          cd thirdparty/installed/bin/ && ln -s /usr/bin/thrift thrift
      - name: Build broker
        run: |
          cd fs_brokers/apache_hdfs_broker/ && /bin/bash build.sh
  build-docs:
    name: Build Documents
    needs: changes
    if: ${{ needs.changes.outputs.docs_changes == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v3

      - name: Build docs
        run: |
          cd docs && /bin/bash build_help_zip.sh
      - name: Build
        run: |
          git clone https://github.com/apache/doris-website.git website
          rm -rf website/docs
          cp -R docs/en/docs website/
          rm -rf website/community
          cp -R docs/en/community website/
          rm -rf website/i18n/zh-CN/docusaurus-plugin-content-docs/*
          mkdir  website/i18n/zh-CN/docusaurus-plugin-content-docs/current
          cp -R docs/zh-CN/docs/* website/i18n/zh-CN/docusaurus-plugin-content-docs/current/
          cp docs/dev.json website/i18n/zh-CN/docusaurus-plugin-content-docs/current.json
          rm -rf  website/i18n/zh-CN/docusaurus-plugin-content-docs-community/*
          mkdir website/i18n/zh-CN/docusaurus-plugin-content-docs-community/current
          cp -R docs/zh-CN/community/* website/i18n/zh-CN/docusaurus-plugin-content-docs-community/current/
          cp -R docs/sidebarsCommunity.json website/
          cp -R docs/sidebars.json website/
          cp -R docs/images website/static/
          sed '2,3d' website/versions.json > website/versions.json1
          rm -rf website/versions.json
          mv website/versions.json1 website/versions.json
          sed '123,130d' website/docusaurus.config.js > website/docusaurus.config.js1
          rm -rf website/docusaurus.config.js
          mv website/docusaurus.config.js1 website/docusaurus.config.js
          cd website
          npm install -g npm@8.19.1
          npm install -g yarn
          yarn cache clean
          yarn && yarn build   
          cd ../
          rm -rf website    
